<nav class="navbar">
    <div class="logo">
      <a routerLink="/agent-dashboard" class="logo-link">RealEstatePro</a>
    </div>
  
    <!-- Right Section with User Profile Dropdown -->
    <!-- <div class="profile-menu">
        <button class="profile-btn" (click)="toggleDropdown()">
          <i class="fa fa-user"></i> 
        </button>
        <div *ngIf="dropdownOpen" class="dropdown-content">
          <p>Name: {{ name }}</p>
          <p>Role: {{ role }}</p>
          <button (click)="logout()">Logout</button>
        </div>
      </div> -->
  </nav>